@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.buttons {
  display:flex;
  justify-content: space-between;

}

body {
  background-image:url("../images/background.png");
  padding:50px
}

.logobox {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height:auto;
}

.centerbox {
    display: flex;
    justify-content: space-around;
}


.outerbox {
    background-color: white;
    width: 800px;
    height: 600px;
    padding:5px;
}

.headerbox {
    background-color: orange;
    height: 10%;
    padding:5px;
    display: flex
}

.header-card {
    background-color: pink;
    width: 50%;
}

.header-teams {
    background-color: cyan;
    width: 50%;
}


.cardteambox {
  background-color:green;
  height: 80%;
  padding:5px;
  display:flex
}

.vcard {
    background-color: red;
    width:45%;
    display: flex;
    justify-content: center;
}
/* 
.game-card-canvas {
  width:inherit;
  height:inherit;
}
 */

.teambox {
    background-color: blue;
    width: fit-content;
    padding: 5px;
    width:55%;
}

.team-green {
    background-color: purple;
    height: 50%;
}

.team-orange {
    background-color: grey;
    height: 50%;
}

.answer {
    background-color: yellow;
    height: 10%;
}